<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbK8Lbxk-8gEPJoZQ513xJMeJ3q3X3djs</string>
	<key>GCM_SENDER_ID</key>
	<string>306337380421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kushsinghy.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c48ee</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c48ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306337380421:ios:e2fa9b7598db4a916c0b2c</string>
</dict>
</plist>